header {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.login {
  color: $Mozzarella;
}
