.fs12 {
  font-size: em(12px);
}

.fs14 {
  font-size: em(14px);
}

.fs18 {
  font-size: em(18px);
}

.fs20 {
  font-size: em(20px);
}

.fs24 {
  font-size: em(24px);
}

.fs28 {
  font-size: em(28px);
}

.fs30 {
  font-size: em(30px);
}

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}
