.main-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
  // margin-bottom: 90px;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  @media (width <=1100px) {
    grid-template-columns: 35px 1fr 35px;
  }
}
