@font-face {
  font-family: TakeawaySans-Bold;
  src: url(/src/assets/fonts/TakeawaySans-Bold.woff);
}

@font-face {
  font-family: TakeawaySans-Regular;
  src: url(/src/assets/fonts/TakeawaySans-Regular.woff);
}
