// Colors

$clr7: 000000;
$clr9: #f0f0f0;

//main-colors

$orange: #ff8000;
$capcake: #c1dade;
$Tomato: #f75e28;
$pink: #f2a6b0;
$Mozzarella: #efedea;
$yellow: #f6c243;
$light-gray: #f8f5f2;
$main-Black: #242e30;
$title-Black: #0a3847;
$text-gray: #666666;
$hover-btn-gray: #ebebed;
$link-blue: #1574f5