// Colors

$clr7: 000000;
$clr9: #f0f0f0;

//main-colors

$orange: #ff8000;
$capcake: #c1dade;
$Tomato: #f75e28;
$pink: #f2a6b0;
$Mozzarella: rgb(239, 237, 234);
$yellow: #f6c243;
$light-gray: rgb(248, 245, 242);
$main-Black: rgb(36, 46, 48);
$title-Black: #0a3847;
$text-gray: #666666;
$hover-btn-gray: #ebebed;
$link-blue: #1574f5