.side-filter-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 2px;
    padding: 8px 16px;
    max-width: 303px;

    & .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;

        & .filter-title {
            font-size: em(16px);
            font-weight: 500;
        }

        & .clear-filter-btn {
            padding: 8px 16px;
            background-color: inherit;
            border: none;
            height: 42px;
            font-size: em(14px);
            color: lightblue;
            cursor: not-allowed;

            &.on {
                color: blue;
                cursor: pointer;
            }
        }
    }
}