.search-input-wrapper {
  position: relative;
  display: inline-block;
}
.search-icon {
  position: absolute;
  top: 22.5%;
  left: 22%;
  transform: translateY(-50%);
  color: $text-gray;
  pointer-events: none;
  font-size: 14px;
}

.text-filter.main-filter {
  padding-left: 35px;
  padding-top: 2px;
}
