.search-input-wrapper {
  position: relative;
  display: inline-block;


  & .search-icon {
    position: absolute;
    top: 9.5px;
    left: 3%;
    rotate: 90deg;
    color: $text-gray;
    pointer-events: none;
    font-size: 12px;
  }

  & .text-filter.main-filter {
    padding-left: 35px;
    padding-top: 2px;
  }
}